a:hover{ color:orange; }
a:active { color:green ; }
a:visited { color: red; }
body{
	background: ;
}
p{
	font-family: comic sans MS,serif,times new roman;

}
h1{
	color: white;
}
div#wraper{
	margin:0 auto;
	background: black;
	width: 1200px;
	height: 1400px;
	color: white;
}
header{
	display: block;
}
#navegacion{
	display: block;
	padding: 5px 20px 5px 0px;
	background: white;
	word-spacing: 3.3em;
}
main{
	padding: 10px 10px 0px 20px;
}

#nombre{
	background:green;
}
#a1{
	padding: 10px 10px 10px 10px;
}
footer{
	clear: both;
	background:white;
	color: red;
	padding: 10px 10px 10px 10px;
	text-align: right;
}

