a:hover{ color:orange; }
a:active { color:green ; }
a:visited { color: red; }
body{
	background: ;
}
p{
	font-family: comic sans MS,serif,times new roman;

}
div#wraper{
	margin:0 auto;
	background: #E2DBE4;
	width: 1200px;
	height: 2090px;
	color: black;
}
header{
	display: block;
}
main{
	padding: 10px 10px 0px 20px;
}
#navegacion{
	display: block;
	padding: 5px 20px 5px 0px;
	background: black;
	word-spacing: 3.3em;
}
footer{
	clear: both;
	background:black;
	color: red;
	padding: 10px 10px 10px 10px;
	text-align:right; 
}
#nombre{
	background:green;
}
#midoriya{
	text-align:left;
}
#izu{
	right: 80px;
	padding: 10px 10px 10px 10px;
}
#iz{
	color: green;
}
#baku{
	padding: 10px 10px 10px 10px;
}
#bak{
	color: red;
}
#al{
	color:yellow;
}
#toshi{
	padding: 10px 10px 10px 10px;
}
#head{
	padding: 10px 10px 10px 10px;
}
#era{
	color: gray;
}

