a:hover{ color:orange; }
a:active { color:green ; }
a:visited { color: red; }
body{
	background: ;
}
p{
	font-family: comic sans MS,serif,times new roman;

}
div#wraper{
	margin:0 auto;
	background: #E2DBE4;
	width: 1200px;
	height: 2090px;
	color: black;
}
header{
	display: block;
}
main{
	padding: 10px 10px 0px 20px;
}
#navegacion{
	display: block;
	padding: 5px 20px 5px 0px;
	background: black;
	word-spacing: 3.3em;
}
footer{
	clear: both;
	background:black;
	color: red;
	padding: 10px 10px 10px 10px;
	text-align:right; 
}
#shi{
	padding: 10px 10px 10px 10px;
}
#tomu{
	color: #581197;
}
#black{
	padding: 10px 10px 10px 10px;
}
#togi{
	padding: 10px 10px 10px 10px;
}
#tog{
	color: #CEB13E;
}
#d{
	padding: 10px 10px 10px 10px;
}
#dab{
	color: #0E1E51
}

