a:hover{ color:orange; }
a:active { color:green ; }
a:visited { color: red; }
body{
	background: ;
}
p{
	font-family: comic sans MS,serif,times new roman; 
}

h2{
	text-align: center;
	color: yellow;
}
div#wraper{
	margin:0 auto;
	background: #E2DBE4;
	width: 1200px;
	height: 1800px;
	color: black;
}
header{
	display: block;
}
main{
	padding: 10px 10px 10px 10px;
}
#navegacion{
	display: block;
	padding: 5px 20px 5px 0px;
	background: black;
	word-spacing: 3.3em;
}
footer{
	clear: both;
	position: fixed;
	bottom:  0;
	left: 0;
	width: 100%;
	background:black;
	color: red;
	padding: 10px 10px 10px 10px;
	text-align:right; 
}
#video{
	position: absolute;
	left: 400px;
}
#p1{
	position: absolute;
 	top: 700px;
 	text-align: center;
}
#video2{
	position: absolute;
	left: 400px;
	top: 890px;
}
#pe2{
	position: absolute;
	top: 800px;
	left: 560px;
	color: green;
}
#p2{
	position: absolute;
	top: 1200px;

	text-align: center;
}
#pe3{
	position: absolute;
	top: 1300px;
	left: 500px;
	color: blue;
}
#video3{
	position: absolute;
	left: 400px;
	top: 1400px;
}
#p3{
	position: absolute;
	top: 1700px;
	
	text-align: center;
}